div>div,
.divEx_2,
#container {
    min-height: 50px;
    background-color: aquamarine;
    border: 1px solid black;
}

#img {
    max-width: 425px;
    max-height: 280px;
}

#container>p {
    cursor: pointer;
}

.circle {
    /* width: 50px;
    height: 50px; */
    margin: 5px;
    border: 1px solid black;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}